.container{
    background-color: yellow;
    width: 100vw;
    height: 2500vh;
    
    display: flex;
    
    margin: 200px;
}


.box1{
    background-color: red;
    width: 100px;
    height: 100px;
    position: static;
    top: 300px;
    left: 100px;
    
    

   
}

.box2{
    background-color:black;
    width: 100px;
    height: 100px;
    position:relative;
    top: 300px;
    left: 300px;
    
}



.box4{
    background-color:chocolate;
    width: 100px;
    height: 100px;
    position:fixed ;

    top: 50px;
    left: 50px;
     
    
}



.box3{
    background-color:pink;
    width: 100px;
    height: 100px;
    position: sticky;
    top: 50px;
    left: 200px;

}

.box5{
    background-color: gray;
    width: 100px;
    height:100px;
    position: absolute;
    top: 25px;
    left: 25px;
    
}